<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is OutStanding!</title>
  </head>
  <body>
    <h1
      style="
        color: rgb(232, 55, 55);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        font-size: 50px;
        font-weight: 800;
      "
    >
      This is OutStanding!
    </h1>
  </body>
</html>
